<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
    <actions>

        <action name="dispNotiDeviceList" type="view" />

        <action name="getNotiNotificationByServiceWorker" type="model" />
        <action name="getNotiCheckUseDevice" type="model" />

        <action name="procNotiDeviceInsert" type="controller" />
        <action name="procNotiDeviceDelete" type="controller" />
        <action name="procNotiClickNotification" type="controller" />
        <action name="procNotiRegInfoDelete" type="controller" />
        <action name="procNotiRegInfoDeleteAll" type="controller" />
        <action name="procNotiNewDevicePost" type="controller" />

        <action name="dispNotiAdminList" type="view" admin_index="true" />
        <action name="dispNotiAdminView" type="view" />
        <action name="dispNotiAdminRegInfoList" type="view" />
        <action name="dispNotiAdminRegInfoView" type="view" />
        <action name="dispNotiAdminConfig" type="view" />

        <action name="procNotiAdminConfig" type="controller" />
        <action name="procNotiAdminDelete" type="controller" />
        <action name="procNotiAdminRegInfoDelete" type="controller" />
        <action name="procNotiAdminRegInfoReq" type="controller" />
    </actions>
	<menus>
		<menu name="noti" type="all">
			<title xml:lang="ko">알림</title>
		</menu>
	</menus>
</module>
